{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="{% block meta_tag %}젤리의 망상{% endblock %}" />{# 검색을 위한 메타태그 적용 #}
    <meta name="google-site-verification" content="sD88W4tSBLNW75Qlh1odUgmLJXzaKXIHYcyoPn5IQ0I" />

    <meta property="fb:app_id" content="1463722037207288" />
    <meta property="og:title" content="{% block ogMetaTitle %}젤리의 망상{% endblock %}"/>
    <meta property="og:url" content="{% block ogUrl %}http://jellyms.kr{% endblock %}" />
    <meta property="og:type" content="article"/>
    <meta property="og:description" content="{% block ogMetaDescription %}안녕하세요. 젤리의 망상입니다.{% endblock %}"/>

    <meta property="og:image" content="http://jellyms.kr/static/{% block ogImage %}jellyblog/images/default_og_image.png{% endblock %}" />

    <link rel="shortcut icon" href="/static/jellyblog/favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/readable/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.1/bootstrap-social.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/github-markdown-css/2.2.1/github-markdown.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">

    <link rel="stylesheet" href="{% static "jellyblog/css/jelly-custom.css" %}" />

    <!-- script import -->
    {% if test %}
        <script src="{% static "jellyblog/js/ga-UA-78086496-1.js" %}"></script>
    {% else %}
        <script src="{% static "jellyblog/js/ga-UA-51933789-1.js" %}"></script>
    {% endif %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-touch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-slick-carousel/3.1.4/angular-slick.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <script src="{% static "jellyblog/js/angular/jellyblog-app.js" %}"></script>
    <title>{% block title %}젤리의 망상{% endblock %}</title>
</head>

<body ng-app="jellyBlog" ng-controller="MainCtrl">{# 추후 angularjs 적용을 위하여 app 이름 설정 #}
    <nav class="navbar navbar-default">
        {% block navbar %}
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'blog_index' %}">젤리의 망상</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse" >
                    <ul class="nav navbar-nav">
                        {% if category_list %} {# 카테고리 리스트 존재 여부확인 #}
                            {% for category in category_list %}
                                {% if category.children %} {# 하위 카테고리 존재여부확인 #}
                                    <li class="dropdown"> {# 드롭다운 생성 #}
                                    <a href="/category/{{ category.id }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        {{ category.name }}<span class="caret"></span>
                                    </a>
                                        <ul class="dropdown-menu">
                                            {% for child in category.children %} {# 하위카테고리에 대하여 드롭다운 메뉴생성 #}
                                                <li><a href="/category/{{ child.id }}">{{ child.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% elif category.id == 1 %} {# Home은 안보이도록 함  #}
                                {% else %} {# 하위 카테고리가 존재하지 않는경우 #}
                                    <li role="presentation" ng-class="{ active : isActive('/category/{{ category.id  }}/') }">
                                        <a href="/category/{{ category.id }}">{{ category.name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <form class="navbar-form navbar-left"
                              role="search"
                              action="{% url 'search_documents' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" id="search_query" name="search_query"placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default" id="search_box"><i class="fa fa-search"></i></button>
                        </form>
                        <li>
                            <a href="/" class="btn">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://facebook.com/hyunmook.k.choi" class="btn">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/kyunooh" class="btn">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!-- containe -->
        {% endblock %} {# navbar #}
    </nav><!-- block navbar -->


    <div id="content" class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div id="inner-content">{% block content %}{% endblock %}</div>
            </div>
        </div>
    </div>

</body>
</html>
