{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="{% block meta_tag %}젤리의 망상{% endblock %}" />{# 검색을 위한 메타태그 적용 #}
    <link rel="shortcut icon" href="/static/jellyblog/favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.7/css/bootstrap-material-design.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.1/bootstrap-social.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/github-markdown-css/2.2.1/github-markdown.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
    <link rel="stylesheet" href="{% static "jellyblog/css/jelly-custom.css" %}">
    <title>{% block title %}젤리의 망상{% endblock %}</title>
</head>

<body ng-app="JellyBlog">{# 추후 angularjs 적용을 위하여 app 이름 설정 #}
    <nav class="navbar navbar navbar-fixed-top">
        {% block navbar %}
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'blog_index' %}">젤리의 망상</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse" ng-controller="NavActiveController">
                    <ul class="nav navbar-nav">
                        {% if category_list %} {# 카테고리 리스트 존재 여부확인 #}
                            {% for category in category_list %}
                                {% if category.children %} {# 하위 카테고리 존재여부확인 #}
                                    <li class="dropdown"> {# 드롭다운 생성 #}
                                    <a href="/category/{{ category.id }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        {{ category.name }}<span class="caret"></span>
                                    </a>

                                        <ul class="dropdown-menu">
                                            {% for child in category.children %} {# 하위카테고리에 대하여 드롭다운 메뉴생성 #}
                                                <li><a href="/category/{{ child.id }}">{{ child.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% elif category.id == 1 %} {# Home일 경우 루트로 리다이렉트  #}
                                    <li role="presentation" ng-class="{ active : isActive('') }">
                                        <a href="{% url 'blog_index'  %}">{{ category.name }}</a>
                                    </li>
                                {% else %} {# 하위 카테고리가 존재하지 않는경우 #}
                                    <li role="presentation" ng-class="{ active : isActive('/category/{{ category.id  }}/') }">
                                        <a href="/category/{{ category.id }}">{{ category.name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="http://facebook.com/hyunmook.k.choi" class="btn btn-social-icon btn-facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/KyunooH" class="btn btn-social-icon btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!-- containe -->
        {% endblock %} {# navbar #}
    </nav><!-- block navbar -->
    <div id="content" class="container">
        <div id="inner-content">{% block content %}{% endblock %}</div>
    </div>
    <div ng-view></div>
	<!-- script import -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>

    <script src="{% static "jellyblog/js/ga.js" %}"></script>


</body>

</html>
