{% extends "jellyblog/base.html" %}
{% if document %}
    {% block meta_tag %}{{ document.meta_tag }}{% endblock %}
    {% block title %}{{ document.title }} | 젤리의 망상{% endblock %}
    {% block content %}
        <div class="col-md-12">
            {% if document.category.parent.id != 1 %}
                <span>
                    <h6>
                        <a href="/">Home</a> >
                        <a href="/category/{{ document.category.parent.id }}">{{ document.category.parent.name }}</a> >
                        <a href="/category/{{ document.category.id }}">{{ document.category.name }}</a>
                    </h6>
                </span>
            {% else %}
                <span><h6><a href="/">Home</a> > <a
                        href="/category/{{ document.category.id }}"> {{ document.category.name }} </a></h6></span>
            {% endif %}
            <span><h1>{{ document.title }}</h1></span>
            <hr>
            <span>{% autoescape off %}{{ document.content }}{% endautoescape %}</span><br>

            <p style="text-align: right !important; margin-right: 20px">[Views: {{ document.view_count }}]</p>
        </div>

    {% endblock %}
    {#content#}
{% endif %}
{# document #}