{% load staticfiles %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta name="google-site-verification" content="sD88W4tSBLNW75Qlh1odUgmLJXzaKXIHYcyoPn5IQ0I" />
    <title>젤리의 망상</title>
    <link rel="stylesheet" href="{% static "jellyblog/css/home.css" %}">
    {% if test %}
        <script src="{% static "jellyblog/js/ga-UA-78086496-1.js" %}"></script>
    {% else %}
        <script src="{% static "jellyblog/js/ga-UA-51933789-1.js" %}"></script>
    {% endif %}
  </head>
  <body>
    <div class="container">
      <a id="blog" href="{% url 'blog_index' %}"> <div class="box blog_link"><h1 id="responsive_header">Blog</h1></div></a>
      <a id="github" href="https://github.com/kyunooh"><div class="box github_link"><h1 id="responsive_header">Github</h1></div></a>
      <a id="facebook" href="https://www.facebook.com/hyunmook.k.choi"><div class="box facebook_link"><h1 id="responsive_header">Facebook</h1></div></a>
      <a id="lifeblog" href="{% url 'lifeblog-index' %}"><div class="box
      life"><h1 id="responsive_header">Life</h1></div></a>
      <a id="about_me" href="{% url 'about_me' %}"><div class="box inform"><h1 id="responsive_header">Inform</h1></div></a>
    </div>  
  </body>
</html>
