{% extends "jellyblog/base.html" %}
{% block meta_tag %}{{ document.meta_tag }}{% endblock %}
{% block content %}

    {% if documents %}

        <div class="col-md-11">
            {% for document in documents %}
                <span><h1><a href="/{{ document.id }}">{{ document.title }}</a></h1></span>
                <hr class="title-line">
                <span>{{ document.content | truncatewords_html:70 | safe }}</span>
                <hr class="document-line">
            {% endfor %}
        </div>


        <div class="row">
            <div class="col-md-8 col-md-offset-3">
                <ul class="pagination ">
                    {% if documents.has_previous %}
                        <li>
                            <a href="/page/{{ documents.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for number in page_range %}
                        <li><a href="/page/{{ number }}">{{ number }}</a></li>
                    {% endfor %}
                    {% if documents.has_next %}
                        <li>
                            <a href="/page/{{ documents.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>

            </div>
            <div class="col-md-2 col-md-offset-10">
                <span class="current">
                    Page <b> {{ documents.number }}</b> of {{ documents.paginator.num_pages }}.
                </span>
            </div>
        </div>

    {% else %}
        <p>There is no document</p>
    {% endif %}
{% endblock %}
